{% extends "base.html" %}

{% block content %}
  <h1>Upload File</h1>
  <form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.file.label(class="form-control-label") }}
      {{ form.file(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">Upload</button>
  </form>

  {% if file_path %}
  <h2>Uploaded File: {{ file_path }}</h2>
  <a href="{{ url_for('main.clean_data', file_path=file_path) }}" class="btn btn-secondary">Clean Data</a>
  <a href="{{ url_for('main.build_model', file_path=file_path) }}" class="btn btn-secondary">Build Model</a>
  {% endif %}
{% endblock %}
